{{#if errors}}
{{#each errors}}
<div class="card-panel red lighten-2"> {{msg}}</div>
{{/each}}
{{/if}}


{{#if successMessage}}
<div class="card-panel green lighten-2">{{successMessage}}</div>

{{/if}}

{{#if errorMessage}}
<div class="card-panel red lighten-2">{{errorMessage}}</div>

{{/if}}


{{#if error}}
<div class="card-panel red lighten-2">{{error}}</div>

{{/if}}