<div class="row">
    <div class="col s6 offset-s3">

        {{> messages}}
        <div class="card">


            <div class="card-content">

                <form action="/users/register" method="post">
                    <h3 class="center-align">Register Form</h3>
                    <div class="input-field">
                        <input type="text" placeholder="email" name="email">
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="password" name="password">
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="confrirm password" name="password2">
                    </div>

                    <div class="input-field">
                        <button type="submit" class="btn deep-purple">Join the team</button>

                    </div>
                    <a href="/users/login">
                        <p class="center-align"> I have account</p>
                    </a>
                </form>
            </div>

        </div>
    </div>
</div>